.app {
  margin-top: 3rem;
  width: 100%;
}

.scores-container {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.3rem;
}

.score {
  font-size: 1.7rem;
  font-weight: 600;
}

.movies-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.movie {
  width: 40%;
}

.movie-poster {
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8rem;
}

.movie-title {
  margin-top: 1rem;
  text-align: center;
  min-height: 3rem;
}

.movie-rating {
  margin-top: 1rem;
  font-weight: bolder;
  text-align: center;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 8px #000;
}

.question {
  text-align: center;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 2rem;
}

.btn {
  cursor: pointer;
  border: none;
}

.outcome {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.error-container {
  text-align: center;
  color: red;
  font-weight: bold;
}

.play-again-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.gameover {
  text-align: center;
  font-weight: 500;
  margin: 1rem 0;
}

@media (min-width: 40em) {
  .movie-poster {
    height: 20rem;
  }

  .movie-title {
    font-size: 2rem;
  }

  .movie-rating {
    font-size: 1.9rem;
  }

  .question-container {
    margin-top: 7rem;
  }

  .question {
    font-size: 2rem;
  }

  .btn {
    width: 7rem;
    height: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .outcome {
    font-size: 3rem;
  }

  .gameover {
    font-size: 1.8rem;
  }
}
